<breakfast_menu>
    <food>
        <name coin="euros" recommendations="true">Belgian Waffles</name>
        <price coin="euros" recommendations="true" fast="true">5.95</price>
        <description detailed="true">Two of our famous Belgian Waffles with plenty of real maple syrup</description>
        <calories coin="euros" recommendations="true" fast="true">650</calories>
    </food>
</breakfast_menu>